smith_timeout     30
smith_namespace   smith

agent_monitor     false
agent_singleton   true
agent_prefetch    1

# Specify the VM that an agent should use.
agent_default_vm  ruby

agency_cache_path /var/cache/smith/new

# The the agency pid path. This can be overriden on the command line.
agency_pid_dir    /run/smith

# If this is a relative path then it's relative to Smith.root_path
agent_path        <path>/agents

# The path to the raw protocol buffer files.
acl_path          <path>/acl

# Change according to your local broker.
broker_host       localhost
broker_port       5672
broker_user       guest
broker_password   guest
broker_vhost      /

# Number of file descriptors a process can open. Needs OS config
file_descriptors  131072

# Set the polling method. Defaults to whatever is supported # by the platform.
epoll         true
kqueue        false

# Logging config
logging_trace    true
logging_level    debug

# Log pattern. Note you need to escape backslashes.
logging_pattern       %d [%5p] %7l - %34c:%-3L - %m\n
logging_date_pattern  %Y/%m/%d %H:%M:%S.%3N

# This can be either: stderr, stdout, file, or rollingfile
logging_appender_type         stderr
# logging_appender_type         file
# logging_appender_filename     /var/log/smith/smith.log

# Add the following if you want to have your agent exceptions sent to squash
enable_squash       true
squash_api_key      some_key
squash_api_host     http://squash.somesquash.squash
